table {
    border: 3px solid red;
    margin-top: 80px;
    transition: opacity 0.5s ease-in;
}

.opacity0 {
    opacity: 0;
}

.opacity10 {
    opacity: 0.1;
}

.opacity25 {
    opacity: 0.25;
}

.opacity50 {
    opacity: 0.5;
}

.opacity75 {
    opacity: 0.75;
}

.opacity100 {
    opacity: 1;
}

th,
td {
    border: 1px solid black;
    min-width: 75px;
    height: 35px;
    padding: 5px;
}